@media screen and(max - width: 478 px) {
    h1 {
        font - size: 70 px;
        padding: 1 px;
    }
    h2 {
        font - size: 13 px;
        padding: 1 px;
    }
    body {
        font - size: 13 px;
    }
}
@media screen and(max - width: 740 px) {
    .left - col {
        width: 100 %;
    }
    .sidebar {
        width: 100 %;
    }
}
@media screen and(max - width: 480 px) {}
img {
    max - width: 100 %;
    height: auto;
    width: auto\ 9;
    /* ie8 */
}